* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: row;
  background-color: pink;
  width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 400px;
}